<%- include('../partials/header') %>

<h1>Welcome to Community Donation Hub</h1>

<% if (user) { %>
  <p>Hello, <%= user.name %>! (<%= user.role %>)</p>
  <a href="/logout">Logout</a>
<% } else { %>
  <a href="/register">Register</a> | <a href="/login">Login</a>
<% } %>

<a href="/donate">Donate</a>
<a href="/browse">Browse Donations</a>


<% if (user && user.role === 'recipient') { %>
  <a href="/my-requests">My Requests</a>
<% } %>


<% if (user && user.role === 'donor') { %>
  <a href="/received-requests">Received Requests</a>
<% } %>


<%- include('../partials/footer') %>
