<%- include('../partials/header') %>

<div class="container">
    <div class="text-center">
        <h2>Edit Profile</h2>
    </div>
</div>

<div class="d-flex justify-content-center" style="margin-bottom: 50px;">
    
<form method="POST" action="/profile/edit" >

  <div class="input-wrapper">
    <label>Name:</label>
    <input type="text" name="name" value="<%= user.name %>" required />
  </div>

  <div class="input-wrapper">
    <label>City:</label>
    <input type="text" name="city" value="<%= user.city %>" required />
  </div>

  <button type="submit" class="button-style">Update</button>
</form>
</div>

<%- include('../partials/footer') %>
